<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhesong.madcourse.neu.edu.charmingu">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".StepCountActivity">
        </activity>

        <activity android:name=".MapsActivity">

        </activity>
        <activity android:name=".MyLocationDemoActivity">

        </activity>
        <activity android:name=".ShowLocationActivity">

        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAR5CfmDfSRp91ujnMo_e7gRCkxsxIv8DA"/>

    </application>

</manifest>